<div class="a">
<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-8 m-auto text-center">
            <h1>Welcome To Our Organic Food Society</h1>
            <h6 style="color: red;">Be Healthy Organic Food</h6>
        </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <img src="./assets/images/3.jpg" class="img-fluid mb-3" alt="" width="500px" height="500px">
                <h5 style="color: blue;">Best Quality Product</h5>
                <p class="b">Age group of 29- 39 prefers to buy organic food as compared to other age groups. Also people of higher income group prefer to buy organic food. Consumers prefer to buy organic food products because of their perception that the organic food products are healthy and safe, nutritious and environment friendly.
                </p>
            </div>
        <div class="col-lg-4">
            <img src="./assets/images/organic1.jpg" class="img-fluid mb-3" alt=""width="500px" height="500px">
            <h5 style="color: blue;">Organic Food</h5>
            <p class="b">Organic food is grown without the use of synthetic chemicals, such as human-made pesticides and fertilizers, and does not contain genetically modified organisms (GMOs). Organic foods include fresh produce, meats, and dairy products as well as processed foods such as crackers, drinks, and frozen meals.
            </p>
        </div>
    <div class="col-lg-4">
        <img src="./assets/images/4.jpg" class="img-fluid mb-3" alt="" width="500px" height="500px">
        <h5 style="color: blue;">Best Quality Food</h5>
        <p class="b">Organic food, fresh or processed food produced by organic farming methods.Organic foods often have more beneficial nutrients, such as antioxidants, than their conventionally-grown counterparts and people with allergies to foods, chemicals, or preservatives may find their symptoms lessen or go away when they eat only organic foods.</p>
    </div>
    </div>
<div class="row pt-3">
    <div class="col-lg-5  m-auto">
      <button class="btn1">Shop More</button>
    </div>
  </div>
 </div>
</div>

