    <div class="f">
    <div class="row">
        <div class="col-lg-11">
          <div class="row">
            <div class="col-lg-3 py-3">
              <h5 class="pb-2">CUSTOMER CARE</h5>
  <p>Regular</p>
  <p>On Time</p>
  <p>Always Care</p>
  </div>
  <div class="col-lg-3 py-3">
    <h5 class="pb-2">GET HELP</h5>
<p>FAQ</p>
<p>About Us</p>
<p>Privacy Policy</p>
</div>
<div class="col-lg-3 py-3">
  <h5 class="pb-2">ONLINE SHOP</h5>
<p>Watch</p>
<p>Blog</p>
<p>Food</p>
</div>
<div class="col-lg-3 py-3">
  <h5 class="pb-2">FOLLOW US</h5>
  <span ><i class="fab fa-facebook" ></i></span>
  <span><i class="fab fa-instagram"></i></span>
  <span><i class="fab fa-twitter"></i></span>
  <span><i class="fab fa-google-plus"></i></span>
</div>
</div>
  </div>
</div>
<hr>
<p class="text-center">Copyright @2021 All rights reserved | This template is made with by ProWeb</p>
      </div>


