
<div class="a">
    <div class="row py-5">
      <div class="col-lg-5 m-auto text-center">
          <h1>Explore Our Store</h1>
          <h6 style="color: red;">Pick Your Product From Our Store</h6>
      </div>
    </div>
    <div class="carousel" data-ride="carousel" id="demo">
      <!--indications-->
      <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
          <li data-target="#demo" data-slide-to="6"></li>
          <li data-target="#demo" data-slide-to="7"></li>
          <li data-target="#demo" data-slide-to="8"></li>
          <li data-target="#demo" data-slide-to="9"></li>
          <li data-target="#demo" data-slide-to="10"></li>
          <li data-target="#demo" data-slide-to="11"></li>
          <li data-target="#demo" data-slide-to="12"></li>
    </ul>
      <!--inner-->
      <div class="carousel-inner">
        <div class="carousel-item active text-center">
                  <img src="./assets/images/1.jpg" class="img-fluid" alt="no img" height="400px">
              <div class="carousel-caption">
                  <h3>Energy Food</h3>
                  <p>$39.99</p>
              </div>
          </div>
           <div class="carousel-item text-center">
              <img src="./assets/images/energy.jpg" class="img-fluid" alt="no img" height="400px">
              <div class="carousel-caption">
                  <div>
                    <h3>Energy Food</h3>
                    <p>$49.99</p>
                  </div>
               </div>
          </div>
              <div class="carousel-item text-center" >
              <img src="./assets/images/beans.jpg" class="img-fluid" alt="no img" height="400px" >
              <div class="carousel-caption">
                  <div>
                    <h3>Energy Food</h3>
                    <p>$59.99</p>
                  </div>
    </div>
          </div>
          <div class="carousel-item text-center" >
            <img src="./assets/images/2.jpg" class="img-fluid" alt="no img" height="400px" >
            <div class="carousel-caption">
                <div>
                  <h3>Energy Food</h3>
                  <p>$99.99</p>
                </div>
    </div>
        </div>
        <div class="carousel-item text-center" >
          <img src="./assets/images/store3.jpg" class="img-fluid" alt="no img" height="400px" >
          <div class="carousel-caption">
              <div>
                <h3>Energy Food</h3>
                <p>$119.99</p>
              </div>
    </div>
      </div>
      <div class="carousel-item text-center" >
        <img src="./assets/images/s7.jpg" class="img-fluid" alt="no img" height="400px" >
        <div class="carousel-caption">
            <div>
              <h3>Nature Products</h3>
              <p>$499.99</p>
            </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/store1.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Nature Products</h3>
            <p>$449.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/store2.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Nature Products</h3>
            <p>$599.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/2.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Energy Food</h3>
            <p>$99.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/s6.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Energy Food</h3>
            <p>$79.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/s5.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Energy Food</h3>
            <p>$229.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/beans.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Energy Food</h3>
            <p>$59.99</p>
          </div>
    </div>
    </div>
    <div class="carousel-item text-center" >
      <img src="./assets/images/s4.jpg" class="img-fluid" alt="no img" height="400px" >
      <div class="carousel-caption">
          <div>
            <h3>Energy Food</h3>
            <p>$999.99</p>
          </div>
    </div>
    </div>
    </div>
    <!--prev and next-->
      <a href="#demo" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
        <a href="#demo" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </div>

