<div class="a">
 <div class="row py-5 ">
      <div class="col-lg-5 m-auto text-center">
        <h1>What's Trending</h1>
        <h6 style="color: red;">Be Healthy Organic Food</h6>
      </div>
    </div>
    <div class="card-deck">
          <div class="card text-center">
          <div class="card-body">
            <img src="./assets/images/energy.jpg" class="img-fluid" alt="">
<h6>Energy Food</h6>
<p>$39.99</p>
      </div>
      </div>
      <div class="card text-center">
      <div class="card-body">
        <img src="./assets/images/s4.jpg" class="img-fluid" alt="" >
<h6>Energy Food</h6>
<p>$59.99</p>
      </div>
      </div>
      <div class="card text-center">
         <div class="card-body">
           <img src="./assets/images/beans.jpg" class="img-fluid" alt="">
         <h6>Energy Food</h6>
           <p>$49.99</p>
     </div>
     </div>
         <div class="card text-center">
         <div class="card-body">
           <img src="./assets/images/1.jpg" class="img-fluid" alt="">
           <h6>Energy Food</h6>
           <p>$59.99</p>
     </div>
     </div>
         <div class="card text-center">
         <div class="card-body">
           <img src="./assets/images/2.jpg" class="img-fluid" alt="">
            <h6>Energy Food</h6>
              <p>$99.99</p>
     </div>
     </div>
     </div>
 <div class="row">
   <div class="col-lg-6 text-center m-auto">
     <button class="btn1">Click For More</button>
   </div>
 </div>
 


