
<div class="main">
<div class="container py-5">
    <div class="row py-4">
        <div class="col-lg-7 pt-5 text-center">
            <h1 class="pt-5">Nature Has Always Cared For Us!</h1>
            <button class="btn1 mt-3">More Tips</button>
        </div>
    </div>
    </div>
    
</div>
<div class="new">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row ">
                    <div class="col-lg-4">
                        <img src="./assets/images/mango1.jpg" alt="" height="100px">
                        <h6>ORGANIC</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="./assets/images/grapes.jpg" alt="" height="100px">
                        <h6>NATURE</h6>
                    </div>
                    <div class="col-lg-4">
                        <img src="./assets/images/banana1.jpg" alt="" height="100px">
                        <h6>ORGANIC</h6>
                    </div>
                    </div>
            
            </div>
        </div>
    </div>
</div>

