.main{
    background-image: url(../../assets/images/organic2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    font-weight: 700;
    color:black;
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    outline: none;
    background-color: rgb(248, 26, 92);
    color: white;
    font-weight: 700;
    border-radius: 60px;
    }
    .btn1:hover{
        background-color:greenyellow;
        transition: 0.5s;
    }
    
